---
- name: flux operator
  block:
    - name: flux operator | deploy helm chart
      kubernetes.core.helm:
        name: flux-operator
        chart_ref: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
        chart_version: "{{ flux_operator_version }}"
        release_namespace: flux-system
        create_namespace: true
        wait: false
        timeout: 5m
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
        HELM_PLUGINS: /usr/local/share/helm/plugins

    - name: flux operator | wait for deployment
      ansible.builtin.command: >
        kubectl -n flux-system get deployment flux-operator -o name
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: metrics_server_deployment
      changed_when: false
      ignore_errors: true
      retries: 120
      delay: 5
      until: metrics_server_deployment.rc == 0

    - name: flux operator | wait for rollout
      ansible.builtin.command: >
        kubectl -n flux-system rollout status deployment/flux-operator --timeout=5m
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: metrics_server_rollout
      changed_when: false
      ignore_errors: true
