---
- name: metrics-server
  block:
    - name: metrics-server | add helm repo
      kubernetes.core.helm_repository:
        name: metrics-server
        repo_url: https://kubernetes-sigs.github.io/metrics-server/
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: metrics-server | deploy chart
      kubernetes.core.helm:
        name: metrics-server
        chart_ref: metrics-server/metrics-server
        chart_version: "{{ metrics_server_version }}"
        release_namespace: kube-system
        create_namespace: false
        wait: false
        timeout: 5m
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
        HELM_PLUGINS: /usr/local/share/helm/plugins
        
    - name: metrics-server | wait for deployment
      ansible.builtin.command: >
        kubectl -n kube-system get deployment metrics-server -o name
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: metrics_server_deployment
      changed_when: false
      ignore_errors: true
      retries: 120
      delay: 5
      until: metrics_server_deployment.rc == 0

    - name: metrics-server | wait for rollout
      ansible.builtin.command: >
        kubectl -n kube-system rollout status deployment/metrics-server --timeout=5m
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: metrics_server_rollout
      changed_when: false
      ignore_errors: true