# ---- Terraform ----
**/.terraform/
**/.terraform.lock.hcl.bak
**/*.tfplan
**/*.tfstate
**/*.tfstate.*
**/credentials.auto.tfvars

# ---- Packer ----
packer/.tmp/
packer/artifacts/

# ---- Ansible ----
**/.ansible/

# ---- Other ----
**/.env
.idea/
