# ---- Terraform ----
**/.terraform/
**/.terraform.lock.hcl.bak
**/*.tfstate
**/*.tfstate.*
terraform/credentials.auto.tfvars


# ---- Ansible ----
**/.ansible/

# ---- Other ----
.idea/
