proxmox_endpoint  = "https://192.168.178.200:8006/api2/json"
proxmox_api_token = "root@pam!terraform=PASTE_SECRET_HERE"

dns_update_server        = "192.168.178.205"
dns_update_port          = 53
dns_update_key_name      = "terraform-home-arpa."
dns_update_key_secret    = "PASTE_BASE64_TSIG_SECRET_HERE"
dns_update_key_algorithm = "hmac-sha256"
