proxmox = {
  endpoint  = "https://192.168.178.200:8006/api2/json"
  api_token = "root@pam!terraform=PASTE_SECRET_HERE"
}

dns = {
  update_server        = "192.168.178.205"
  update_port          = 53
  update_key_name      = "terraform-home-arpa."
  update_key_secret    = "PASTE_BASE64_TSIG_SECRET_HERE"
  update_key_algorithm = "hmac-sha256"
}
