---
- name: k8s | select init node
  ansible.builtin.set_fact:
    k8s_init_node: "{{ groups['k8s_node_control'][0] }}"

- name: k8s | copy kubeadm config
  ansible.builtin.copy:
    src: kubeadm.yaml
    dest: /etc/kubernetes/kubeadm.yaml
    owner: root
    group: root
    mode: "0644"
  when: inventory_hostname == k8s_init_node

- name: k8s | init control plane
  ansible.builtin.command: kubeadm init --config /etc/kubernetes/kubeadm.yaml --upload-certs
  args:
    creates: /etc/kubernetes/admin.conf
  when: inventory_hostname == k8s_init_node
