---
- name: k8s
  block:
    - name: k8s | install packages
      ansible.builtin.apt:
        update_cache: true
        name:
          - kubelet
          - kubeadm
        state: present

    - name: k8s | hold packages
      ansible.builtin.dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop:
        - kubelet
        - kubeadm

    - name: k8s | enable kubelet
      ansible.builtin.systemd:
        name: kubelet
        enabled: true
