- name: Config
  ansible.builtin.set_fact:
    pihole: >-
      {{
        {
          'ip': ansible_default_ipv4.address,
          'http_port': 20080,
          'https_port': 20443,
        }
      }}
  changed_when: false

- name: Create
  ansible.builtin.file:
    path: "/opt/pihole"
    state: directory
    mode: "0755"

- name: Copy docker-compose.yml
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: "/opt/pihole/docker-compose.yml"
    mode: "0644"

- name: Create .env
  ansible.builtin.copy:
    dest: "/opt/pihole/.env"
    mode: "0644"
    content: |
      PIHOLE_IP={{ pihole.ip }}
      PIHOLE_HTTP_PORT={{ pihole.http_port }}
      PIHOLE_HTTPS_PORT={{ pihole.https_port }}

- name: Write Pi-hole secret
  copy:
    dest: /opt/pihole/webpassword.txt
    mode: "0600"
    content: "{{ webpassword }}"
  no_log: true

- name: Deploy/Update
  community.docker.docker_compose_v2:
    project_src: "/opt/pihole"
    files: ["docker-compose.yml"]
    state: present
    pull: always
    recreate: auto
    remove_orphans: true
  when: not ansible_check_mode