- name: Config
  ansible.builtin.set_fact:
    pihole: >-
      {{
        {
          'ip': ansible_default_ipv4.address,
          'http_port': 20080,
          'https_port': 20443,
        }
      }}
  changed_when: false

- name: Create user group
  ansible.builtin.group:
    name: pihole
    system: true
    state: present

- name: Create user
  ansible.builtin.user:
    name: pihole
    group: pihole
    home: /nonexistent
    shell: /usr/sbin/nologin
    create_home: false
    system: true
    state: present

- name: Get uid
  ansible.builtin.command: id -u pihole
  register: pihole_uid
  changed_when: false

- name: Get gid
  ansible.builtin.command: id -g pihole
  register: pihole_gid
  changed_when: false

- name: Create
  ansible.builtin.file:
    path: "/opt/pihole"
    state: directory
    owner: pihole
    group: pihole
    mode: "0755"

- name: Copy docker-compose.yml
  ansible.builtin.copy:
    src: docker-compose.yml
    dest: "/opt/pihole/docker-compose.yml"
    mode: "0644"

- name: Create .env
  ansible.builtin.copy:
    dest: "/opt/pihole/.env"
    mode: "0644"
    content: |
      PIHOLE_IP={{ pihole.ip }}
      PIHOLE_HTTP_PORT={{ pihole.http_port }}
      PIHOLE_HTTPS_PORT={{ pihole.https_port }}
      PIHOLE_UID={{ pihole_uid.stdout | trim }}
      PIHOLE_GID={{ pihole_gid.stdout | trim }}

- name: Deploy/Update
  community.docker.docker_compose_v2:
    project_src: "/opt/pihole"
    files: ["docker-compose.yml"]
    state: present
    pull: always
    recreate: auto
    remove_orphans: true
  when: not ansible_check_mode