---
- name: k8s | base
  hosts: k8s
  become: true
  gather_facts: true
  roles:
    - k8s

- name: k8s | control
  hosts: k8s_control
  become: true
  gather_facts: true
  roles:
    - k8s_control

- name: k8s | init
  hosts: k8s_init
  become: true
  gather_facts: true
  roles:
    - k8s_init

- name: k8s | worker
  hosts: k8s_worker
  become: true
  gather_facts: true
  roles:
    - k8s_worker

- name: k8s | worker join
  hosts: k8s_worker_join
  become: true
  gather_facts: true
  roles:
    - k8s_worker_join