---
- name: k8s | configure node
  hosts: k8s
  become: true
  gather_facts: true

  vars:
    k8s_version: "1.35"
    containerd_version: "2.2.1"
    pause_version: "3.10"

  tasks:
    - name: k8s | verify swap is disabled
      ansible.builtin.shell: swapon --show
      register: swap_status
      changed_when: false
      failed_when: swap_status.stdout != ""

    - name: k8s | ensure required kernel modules are loaded on boot
      ansible.builtin.copy:
        dest: /etc/modules-load.d/k8s.conf
        owner: root
        group: root
        mode: '0644'
        content: |
          overlay
          br_netfilter

    - name: k8s | load kernel modules immediately
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - overlay
        - br_netfilter

    - name: k8s | configure sysctl parameters
      copy:
        dest: /etc/sysctl.d/99-k8s.conf
        owner: root
        group: root
        mode: '0644'
        content: |
          net.bridge.bridge-nf-call-iptables = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward = 1

    - name: k8s | apply sysctl settings
      ansible.builtin.command: sysctl --system
      changed_when: false
