---
- name: helm
  block:
    - name: helm | download
      ansible.builtin.get_url:
        url: "https://get.helm.sh/helm-v{{ helm_version }}-linux-amd64.tar.gz"
        dest: "/tmp/helm-{{ helm_version }}.tar.gz"
        mode: '0644'

    - name: helm | extract
      ansible.builtin.unarchive:
        src: "/tmp/helm-{{ helm_version }}.tar.gz"
        dest: /usr/local/bin
        remote_src: yes
        include:
          - linux-amd64/helm
        extra_opts:
          - --strip-components=1
        owner: root
        group: root
        mode: '0755'