---
- name: helm
  block:
    - name: helm | download
      ansible.builtin.get_url:
        url: "https://get.helm.sh/helm-v{{ helm_version }}-linux-amd64.tar.gz"
        dest: "/tmp/helm-{{ helm_version }}.tar.gz"
        mode: '0644'

    - name: helm | extract
      ansible.builtin.unarchive:
        src: "/tmp/helm-{{ helm_version }}.tar.gz"
        dest: /usr/local/bin
        remote_src: yes
        include:
          - linux-amd64/helm
        extra_opts:
          - --strip-components=1
        owner: root
        group: root
        mode: '0755'

    - name: helm | ensure plugins dir
      ansible.builtin.file:
        path: /usr/local/share/helm/plugins
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: helm | install helm-diff plugin
      ansible.builtin.command: >-
        helm plugin install https://github.com/databus23/helm-diff 
          --version v{{ helm_diff_version }}
      environment:
        HELM_PLUGINS: /usr/local/share/helm/plugins
      args:
        creates: /usr/local/share/helm/plugins/helm-diff