---
- name: cilium
  block:
    - name: cilium | create config directory
      ansible.builtin.file:
        path: /etc/kubernetes/cilium
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: cilium | copy values
      ansible.builtin.copy:
        src: cilium.yaml
        dest: /etc/kubernetes/cilium/values.yaml
        owner: root
        group: root
        mode: "0644"

    - name: cilium | add helm repo
      kubernetes.core.helm_repository:
        name: cilium
        repo_url: https://helm.cilium.io
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: cilium | deploy chart
      kubernetes.core.helm:
        name: cilium
        chart_ref: cilium/cilium
        chart_version: "{{ cilium_version }}"
        release_namespace: kube-system
        create_namespace: false
        wait: true
        timeout: 15m
        values_files:
          - /etc/kubernetes/cilium/values.yaml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
        HELM_PLUGINS: /usr/local/share/helm/plugins
      register: cilium_deploy
      retries: 3
      delay: 30
      until: cilium_deploy is succeeded
