---
- name: k8s
  block:
    - name: k8s | check if control plane already initialized
      ansible.builtin.stat:
        path: /etc/kubernetes/admin.conf
      register: admin_conf
    
    - name: k8s | initialize cluster
      when: not admin_conf.stat.exists
      block:
        - name: k8s | create kubeadm config directory
          ansible.builtin.file:
            path: /etc/kubernetes/kubeadm
            state: directory
            owner: root
            group: root
            mode: "0750"

        - name: k8s | copy kubeadm config
          ansible.builtin.copy:
            src: kubeadm.yaml
            dest: /etc/kubernetes/kubeadm/kubeadm.yaml
            owner: root
            group: root
            mode: "0640"

        - name: k8s | kubeadm config validate
          ansible.builtin.command: kubeadm config validate --config /etc/kubernetes/kubeadm/kubeadm.yaml
          changed_when: false

        - name: k8s | kubeadm init
          ansible.builtin.command: kubeadm init --config /etc/kubernetes/kubeadm/kubeadm.yaml --upload-certs
          args:
            creates: /etc/kubernetes/admin.conf