---
- name: kubelet-csr-approver
  block:
    - name: kubelet-csr-approver | create config directory
      ansible.builtin.file:
        path: /etc/kubernetes/kubelet-csr-approver
        state: directory
        owner: root
        group: root
        mode: "0750"

    - name: kubelet-csr-approver | copy values
      ansible.builtin.copy:
        src: kubelet-csr-approver.yaml
        dest: /etc/kubernetes/kubelet-csr-approver/values.yaml
        owner: root
        group: root
        mode: "0640"

    - name: kubelet-csr-approver | add helm repo
      kubernetes.core.helm_repository:
        name: postfinance
        repo_url: https://postfinance.github.io/kubelet-csr-approver
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: kubelet-csr-approver | deploy chart
      kubernetes.core.helm:
        name: kubelet-csr-approver
        chart_ref: postfinance/kubelet-csr-approver
        chart_version: "{{ kubelet_csr_approver_version }}"
        release_namespace: kube-system
        wait: false
        timeout: 5m
        values_files:
          - /etc/kubernetes/kubelet-csr-approver/values.yaml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
        HELM_PLUGINS: /usr/local/share/helm/plugins

    - name: kubelet-csr-approver | wait for deployment
      ansible.builtin.command: >
        kubectl -n kube-system get deployment kubelet-csr-approver -o name
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: kubelet_csr_approver_deployment
      changed_when: false
      ignore_errors: true
      retries: 120
      delay: 5
      until: kubelet_csr_approver_deployment.rc == 0

    - name: kubelet-csr-approver | wait for rollout
      ansible.builtin.command: >
        kubectl -n kube-system rollout status deployment/kubelet-csr-approver --timeout=5m
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
      register: kubelet_csr_approver_rollout
      changed_when: false
      ignore_errors: true