---
- name: kubelet-csr-approver
  block:
    - name: kubelet-csr-approver | create config directory
      ansible.builtin.file:
        path: /etc/kubernetes/kubelet-csr-approver
        state: directory
        owner: root
        group: root
        mode: "0750"

    - name: kubelet-csr-approver | copy values
      ansible.builtin.copy:
        src: kubelet-csr-approver-values.yaml
        dest: /etc/kubernetes/kubelet-csr-approver/values.yaml
        owner: root
        group: root
        mode: "0640"

    - name: kubelet-csr-approver | add helm repo
      kubernetes.core.helm_repository:
        name: postfinance
        repo_url: https://postfinance.github.io/kubelet-csr-approver
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf

    - name: kubelet-csr-approver | deploy chart
      kubernetes.core.helm:
        name: kubelet-csr-approver
        chart_ref: postfinance/kubelet-csr-approver
        chart_version: "{{ kubelet_csr_approver_version }}"
        release_namespace: kube-system
        create_namespace: false
        wait: true
        values_files:
          - /etc/kubernetes/kubelet-csr-approver/values.yaml
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
        HELM_PLUGINS: /usr/local/share/helm/plugins