---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration

nodeRegistration:
  criSocket: "unix:///run/containerd/containerd.sock"

localAPIEndpoint:
  advertiseAddress: "192.168.178.226"
  bindPort: 6443

---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration

proxy:
  disabled: true

clusterName: "k8s"
controlPlaneEndpoint: "k8s-api.home.arpa:6443"

networking:
  serviceSubnet: "10.96.0.0/12"
  podSubnet: "10.244.0.0/16"

apiServer:
  certSANs:
    - "k8s-api.home.arpa"
    - "192.168.178.225"
    - "vm-k8s-control-01.home.arpa"
    - "192.168.178.226"

controllerManager:
  extraArgs:
  - name: allocate-node-cidrs
    value: "true"
  - name: cluster-cidr
    value: "10.244.0.0/16"
  - name: node-cidr-mask-size
    value: "24"

---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration

serverTLSBootstrap: true
