---
- name: k8s
  block:
    - name: k8s | validate control plane nodes configuration
      ansible.builtin.assert:
        that:
          - groups['k8s_control'] is defined
          - (groups['k8s_control'] | length) > 0
        fail_msg: "Control plane group 'k8s_control' is not defined or empty"
        # ToDo: hide from ansible output?

    - name: k8s | check if node already joined
      ansible.builtin.stat:
        path: /etc/kubernetes/kubelet.conf
      register: kubelet_conf

    - name: k8s | join node to cluster
      when: not kubelet_conf.stat.exists
      block:
        - name: k8s | get join command
          ansible.builtin.command: kubeadm token create --print-join-command --ttl 12h0m0s
          delegate_to: "{{ groups['k8s_control'] | first }}"
          register: join_cmd

        - name: k8s | kubeadm join
          ansible.builtin.command: "{{ join_cmd.stdout | trim }}"
          args:
            creates: /etc/kubernetes/kubelet.conf