---
- name: core
  block:
    - name: system | check swap status
      ansible.builtin.command: swapon --show
      register: swap_status
      changed_when: false

    - name: system | assert swap is disabled
      ansible.builtin.assert:
        that:
          - swap_status.stdout | length == 0
        fail_msg: "Swap is enabled"

    - name: kernel | configure modules-load
      ansible.builtin.copy:
        dest: /etc/modules-load.d/99-k8s-containerd.conf
        owner: root
        group: root
        mode: '0644'
        content: |
          overlay
          br_netfilter

    - name: kernel | load configured modules
      community.general.modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - overlay
        - br_netfilter

    - name: sysctl | configure
      ansible.builtin.copy:
        dest: /etc/sysctl.d/99-k8s-cri.conf
        owner: root
        group: root
        mode: '0644'
        content: |
          net.bridge.bridge-nf-call-iptables  = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward                 = 1

    - name: sysctl | apply
      ansible.builtin.command: sysctl --system
      changed_when: false